@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    padding:0;
    margin: 0px;
    list-style: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;

    &:focus{
        outline: 0;
    }
} 
body{
    background: #C6ECEA;
    padding: 30px;
}
.component{
    .someTitle{
        display: flex;
        width: 526px;
        height: 140px;
        background-color: #2C698D;
        border-radius: 15px;
        padding: 40px;
        .title{
            h3{
            font-size: 20px;
            color: #ffffff;
            font-weight: 400;
            margin-bottom: 10px;
        }
        p{
            font-style: 16px;
            font-weight: 400;
            color: #ffffff;
        }   
        }
        
        a{
            margin-left: 58px;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            background-color: #1B5E85;
            display: flex;
            text-align: center;
            justify-content: center;
            transition: 300ms backgroun-color;
            img{
                text-align: center;
                justify-content: center;
            }
            &:hover{
                background-color: darken($color: #2C698D, $amount: .4);
            }
        }
    }
    .space{
        width: auto;
        height: 30px;
    }
    .equipments{
        display: flex;
        padding: 25px;
        flex-direction: column;
        width: 395px;
        height: 397px;
        border-radius: 15px;
        background-color: #ffffff;
        hr{
            border: 1px solid #E5E5E5;
            width: 395px;
            margin-left: -25px;
            margin-top: 15px;
        }
        .one{
            display: flex;
            padding: 18px;
            .product{
                display: flex;
                .wear{
                    margin: 10px;
                    h4{
                        font-style: 18px;
                        font-weight: 400;
                    } 
                    p{
                        font-style: 16px;
                        font-weight: 400;
                    }
                }
            }
            a{
                margin-left: 106px;
                display: flex;
                text-align: center;
                justify-content: center;
                margin-top: 15px;
                width: 44px;
                height: 44px;
                border-radius: 50%;
                background-color: #E3F6F5;
            }
            
            
        }
        .two{
            display: flex;
            padding: 18px;
            .product{
                display: flex;
                .wear{
                    margin: 10px;
                    h4{
                        font-style: 18px;
                        font-weight: 400;
                    } 
                    p{
                        font-style: 16px;
                        font-weight: 400;
                    }
                }
            }
            a{
                margin-left: 100px;
                display: flex;
                text-align: center;
                justify-content: center;
                margin-top: 15px;
                width: 44px;
                height: 44px;
                border-radius: 50%;
                background-color: #E3F6F5;
            }
            
            
        }
        .tree{
            margin-top: 15px;
            display: flex;
            padding: 18px;
            .product{
                display: flex;
                .wear{
                    margin: 10px;
                    h4{
                        font-style: 18px;
                        font-weight: 400;
                    } 
                    p{
                        font-style: 16px;
                        font-weight: 400;
                    }
                }
            }
            a{
                margin-left: 100px;
                display: flex;
                text-align: center;
                justify-content: center;
                margin-top: 15px;
                width: 44px;
                height: 44px;
                border-radius: 50%;
                background-color: #E3F6F5;
            }
            
            
        }

    }
}