@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0px;
  list-style: none;
  border: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
}

*:focus {
  outline: 0;
}

body {
  background: #C6ECEA;
  padding: 30px;
}

.component .someTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 526px;
  height: 140px;
  background-color: #2C698D;
  border-radius: 15px;
  padding: 40px;
}

.component .someTitle .title h3 {
  font-size: 20px;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 10px;
}

.component .someTitle .title p {
  font-style: 16px;
  font-weight: 400;
  color: #ffffff;
}

.component .someTitle a {
  margin-left: 58px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #1B5E85;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 300ms backgroun-color;
  transition: 300ms backgroun-color;
}

.component .someTitle a img {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.component .someTitle a:hover {
  background-color: #2c688b;
}

.component .space {
  width: auto;
  height: 30px;
}

.component .equipments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 395px;
  height: 397px;
  border-radius: 15px;
  background-color: #ffffff;
}

.component .equipments hr {
  border: 1px solid #E5E5E5;
  width: 395px;
  margin-left: -25px;
  margin-top: 15px;
}

.component .equipments .one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px;
}

.component .equipments .one .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.component .equipments .one .product .wear {
  margin: 10px;
}

.component .equipments .one .product .wear h4 {
  font-style: 18px;
  font-weight: 400;
}

.component .equipments .one .product .wear p {
  font-style: 16px;
  font-weight: 400;
}

.component .equipments .one a {
  margin-left: 106px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #E3F6F5;
}

.component .equipments .two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px;
}

.component .equipments .two .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.component .equipments .two .product .wear {
  margin: 10px;
}

.component .equipments .two .product .wear h4 {
  font-style: 18px;
  font-weight: 400;
}

.component .equipments .two .product .wear p {
  font-style: 16px;
  font-weight: 400;
}

.component .equipments .two a {
  margin-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #E3F6F5;
}

.component .equipments .tree {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px;
}

.component .equipments .tree .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.component .equipments .tree .product .wear {
  margin: 10px;
}

.component .equipments .tree .product .wear h4 {
  font-style: 18px;
  font-weight: 400;
}

.component .equipments .tree .product .wear p {
  font-style: 16px;
  font-weight: 400;
}

.component .equipments .tree a {
  margin-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #E3F6F5;
}
/*# sourceMappingURL=main.css.map */